@model List<PointRecord.Models.Sector.Sectors>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    Lista de Setores
</h1>

@Html.ActionLink("Novo Setor", "add", "sectors")


<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Ativo</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>@item.Name</td>
                <td>@item.Active</td>

                <td>
                    <a asp-controller="sectors" asp-action="update" asp-route-id="@item.Id" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                    <a asp-controller="sectors" asp-action="delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        </tbody>
    }
</table>
