@model List<PointRecord.Models.Employees.Employeees>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
    Lista de Funcionários
</h1><br />


<a asp-controller="employees" asp-action="add" class="btn btn-primary btn-lg pull-right"><i class="fas fa-plus-circle"></i> Novo</a><br /><br />

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Cidade</th>
            <th scope="col">Telefone</th>
            <th scope="col">Estado</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>@item.Name</td>
                <td>@item.City</td>
                <td>@item.Telephone</td>
                <td>@item._State</td>

                <td>
                    <a asp-controller="employees" asp-action="update" asp-route-id="@item.Id" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                    <a asp-controller="employees" asp-action="delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        </tbody>
    }
</table>
