@model List<PointRecord.Models.Employees.Employeees>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
    Lista de Funcionários
</h1><br />


<a asp-controller="employees" asp-action="add" class="btn btn-primary btn-lg pull-right"><i class="fas fa-plus-circle"></i> Novo</a><br /><br />

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Cidade</th>
            <th scope="col">Estado</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>@item.name</td>
                <td>@item.city</td>
                <td>@item.state</td>

                <td>
                    <a asp-controller="employees" asp-action="update" asp-route-id="@item.id" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                    <a class="btnRemover btn btn-danger" id="@item.id" name="@item.name"><i class="fas fa-trash-alt text-light"></i></a>
                </td>
            </tr>
        </tbody>
    }
</table>
@section scripts {
    <script>
        $(".btnRemover").on("click", function () {
            var id = $(this).attr("id");
            var name = $(this).attr("name");
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-danger'
                    },
                    buttonsStyling: true
                })

            swalWithBootstrapButtons.fire({
                title: 'Você tem certeza?',
                text: `Deseja apagar o funcionário ${name} ?`,
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sim, Confirmar',
                cancelButtonText: 'Não, Cancelar',
                reverseButtons: true
            }).then((result) => {
                if (result.value) {
                    swalWithBootstrapButtons.fire(
                        'Deletado!',
                        `O funcionário ${name} foi removido`,
                        'success')

                    $.get(`@Url.Action("delete", "employees")/${id}`, () => {
                        setTimeout(() => {
                            $(this).parent().parent().parent().fadeOut();
                        }, 800);
                        setTimeout(() => {
                            msg.hide();
                        }, 5000);

                    }).fail((error) => {
                        let msg = $("#msg");
                        msg.text("Não possível completar a operação");
                        msg.show();
                        setTimeout(() => {
                            msg.hide();
                        }, 5000);
                    });
                    } else if (
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                        swalWithBootstrapButtons.fire(
                            'Cancelado',
                            'Exclusão abortada!',
                            'error'
                        )
                    }
                })
        });
    </script>
}
