@model List<PointRecord.Models.Employees.Employees>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    Lista de Funcionários
</h1>

@Html.ActionLink("Novo Funcionário", "add", "employees")


<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Cidade</th>
            <th scope="col">Telefone</th>
            <th scope="col">Estado</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>@item.Name</td>
                <td>@item.City</td>
                <td>@item.Telephone</td>
                <td>@item._State</td>

                <td>
                    <a asp-controller="employees" asp-action="update" asp-route-id="@item.Id" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                    <a asp-controller="employees" asp-action="delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        </tbody>
    }
</table>
